 img {
    width: 250px;
    height: 75px;

}

table {
    margin-left: auto;
    margin-right: auto;
}

.centralizar {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

table,
th,
td {
    border: 3px solid #888888;
}

.logo {
    padding: 30px 30px;
}

table,
thead,
tr {
    text-align: center;
    vertical-align: middle;

}